<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

<div id="main" style="margin: 20px">
    <h2 class="sub-header">redis status</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>point</th>
                <th>野良ポケモン数</th>
            </tr>
            </thead>
            <tbody>
            {% for point, count, data in redis_data %}
                <tr>
                    <td>{{ point }}</td>
                    <td>
                        {% if not count %}
                        <button type="button" class="btn btn-sm btn-danger">None</button>&nbsp;&nbsp;"{{ data }}"  データ取得失敗、1時間以上取得なし
                        {% elif count == 0 %}
                        <button type="button" class="btn btn-sm btn-danger">{{ count }}</button>&nbsp;&nbsp;"{{ data }}"
                        {% elif count <= 20 %}
                        <button type="button" class="btn btn-sm btn-warning">{{ count }}</button>&nbsp;&nbsp;"{{ data }}"
                        {% elif 20 < count %}
                        <button type="button" class="btn btn-sm btn-success">{{ count }}</button>&nbsp;&nbsp;"{{ data }}"
                        {% else %}
                        <button type="button" class="btn btn-sm btn-danger">"{{ count }}"&nbsp;&nbsp;"{{ data }}"</button> よく判らないときのエラー
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 class="sub-header">Cannot login by wrong password</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>username</th>
                <th>error count</th>
                <th>history</th>
            </tr>
            </thead>
            <tbody>
            {% for account, v in all_login_failed %}

                <tr>
                    <td>{{ account }}</td>
                    <td>{{ v|length }}</td>
                    <td>
                        {% for _ in v %}
                            {{ _.time }}<br/>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

