{% if is_local %}
    <div style="background-color: #a94442; height: 160px; width: 300px"></div>
{% else %}
<!-- Rakuten Widget FROM HERE --><script type="text/javascript">rakuten_design="slide";rakuten_affiliateId="15214c89.baf7ef94.15214c8a.c86f28fa";rakuten_items="ranking";rakuten_genreId=0;rakuten_size="300x160";rakuten_target="_blank";rakuten_theme="gray";rakuten_border="off";rakuten_auto_mode="off";rakuten_genre_title="off";rakuten_recommend="on";</script><script type="text/javascript" src="http://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js"></script><!-- Rakuten Widget TO HERE -->
{% endif %}