{% if is_local %}
    <div style="background-color: #a94442; height: 160px; width: 300px"></div>
{% else %}
<div id="zsid6050854808"></div><script type="text/javascript" src="//statics.a8.net/js/harippaban.js" charset="utf-8" ></script>
<script type="text/javascript">var aid='160808161328';var frame='1';var shopname='1';var horizontal='1';var vertical='1';var alignment='0';var rndid='zsid6050854808';var bannerkind='item.variable.kind1';</script>
<script type="text/javascript" src="http://items.a8.net/search?limit=1&callback=callbackA8" charset="utf-8"></script>
{% endif %}